NODE_ENV=development

# Server
PORT=3001
CORS_ORIGIN=http://localhost:3000

# JWT
JWT_SECRET=replace_me
JWT_REFRESH_SECRET=replace_me

# Database (MySQL)
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD="replace_me"
DB_NAME=testdb
